body {
    font-family: monospace;
    background: #232627;
    color: #fcfcfc;
    font-family: "Lucida Console", monospace, bold;
    font-weight: bold;
    padding: 40px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #3daee9;
}
.timestamp {
    color: #11d116;
}

.text {
    color: #fcfcfc;
}
.error {
    color: #ed1515;
}

.subsystem {
    color: #f67400;
}
.userspace { color: yellow; }
.lines {
    max-width: 600px;
}
.line {
    display: table;
    vertical-align: bottom;
    font-family: monospace;
    clip-path: inset(0 100% 0 0);
    white-space: pre;
    opacity: 0;
    animation:
    typing 0.1s linear var(--delay) forwards,
    newline 0s var(--delay) forwards;
}

@keyframes newline {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0% 0 0);
    }
}
