<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>construction ahead!</title>
    <style>
    </style>
</head>
<body>

    <h1>I BOUGHT STATIC IP FEAR ME</h1>
    <p> while i make this site ready you can:<p>

    <a href="https://search.rektstars.net">DOS me and get me banned from google search via searxng</a> (clearnet)<br>
    <p> https://node.rektstars.net:18089 -- send your xmr tx'ses throu someone incapable of logging them!!<p>
    <p> more functional and cat included personal site coming soon!!!!!!! </p><br>
    <p>also you can look at my kitticat:</p>
    <img src="static/DSCF9635.JPG" alt="say cheeezee!" style="width:800px;height:600px;"><br>
    <a href="static/DSCF9635.JPG.sig">sign your photos!</a><br>
    <a href="static/0xE495FB0FB7C8FAF6_public.asc">a bit ironic but here is the pubkey</a><br>
    <a href="https://www.gnupg.org/gph/en/manual/x135.html">what is all that bullshit? find out</a> (clearnet)<br>

    <a href="/admin" style="display:none;">ADMIN LOGIN</a><br>

</body>
</html>
