<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>construction ahead!</title>
    <style>
    </style>
</head>
<body>

    <p>this site is not yet ready,</p>
    <p>check my other domains!</p>
    <a href="https://me.rektstars.net">about me</a>(js not included)<br>
    <a href="https://kasane.tattoo">google: pear</a><br>
    <a href="http://butikeepgoingbacktothatmomentinthe.icu/">free churro</a>

</body>
</html>
