<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baka!</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center; /* Horizontal centering */
            align-items: center;     /* Vertical centering */
            background-color: #f0f0f0; /* Optional: light grey background */
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    </style>
</head>
<body>

    <img src="static/pear.jpg" alt="delicous">

</body>
</html>
